aiohttp[speedups]==3.6.*
arcgis2geojson==2.0.*
coreapi==2.3.*
Django==3.0.*
django-allauth==0.41.*
django-braces==1.14.*
django-cors-headers==3.2.*
django-easy-audit==1.2.*
django-filter==2.2.*
django-grappelli==2.14.*
django-leaflet==0.27.*
django-model-utils==4.0.*
django-pipeline==1.7.*
django-role-permissions==2.2.*
django-sentry==1.13.*
djangorestframework-gis==0.15
djangorestframework==3.11.*
geopy==1.22.*
markdown==3.2.*
psycopg2-binary==2.8.*
pytz==2020.*
raven==6.10.*
requests==2.23.*
uwsgi==2.0.*
django-heroku==0.3.1