<h3>{{ csr.name }}</h3>
<table class="table table-borderless table-striped">
    <tbody>
        <tr>
            <th scope="row">Key</th>
            <td>{{ csr.key }}</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            {# Create cusstom tag for this #}
            {% if csr.description %}
                <td>{{ csr.description }}</td>
            {% else %}
                <td>-</td>
            {% endif %}
        </tr>
        <tr>
            <th scope="row">URL</th>
            <td><a href="{{ csr.url }}">{{ csr.url }}</a></td>
        </tr>
        <tr>
            <th scope="row">Query Type</th>
            <td>{{ csr.query_type }}</td>
        </tr>
        <tr>
            <th scope="row">Layer typename</th>
            <td>{{ csr.layer_typename }}</td>
        </tr>
        <tr>
            <th scope="row">Service version</th>
            <td>{{ csr.service_version }}</td>
        </tr>
        <tr>
            <th scope="row">Provenance</th>
            {% if csr.provenance %}
                <td>{{ csr.provenance }}</td>
            {% else %}
                <td>-</td>
            {% endif %}
        </tr>
        <tr>
            <th scope="row">Notes</th>
            {% if csr.notes %}
                <td>{{ csr.notes }}</td>
            {% else %}
                <td>-</td>
            {% endif %}
        </tr>
        <tr>
            <th scope="row">Licensing</th>
            {% if csr.licensing %}
                <td>{{ csr.licensing }}</td>
            {% else %}
                <td>-</td>
            {% endif %}
        </tr>
    </tbody>
</table>