{% extends 'main_base.html' %}

{% block title %}
    Context Group Name
{% endblock %}

{% block body_content %}
    <h1 class="text-center">Context Layer Registries</h1>
    <div class="row justify-content-center">
      <div class="col-8 ">
        <h3>{{ context_collection.name }}</h3>
                    <table class="table table-borderless table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Key</th>
                                <td>{{ context_collection.key }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Description</th>
                                {# Create cusstom tag for this #}
                                {% if context_collection.description %}
                                    <td>{{ context_collection.description }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row">Context Groups</th>
                                {% if context_collection.get_ordered_context_groups %}
                                    <td>
                                        <ol>
                                            {% for collection_group_service in context_collection.get_ordered_context_groups %}
                                            <li>{{ collection_group_service.context_group.name }}</li>
                                            {% endfor %}
                                        </ol>
                                    </td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
      </div>
    </div>
    {% include "includes/pagination.html" %}
{% endblock body_content %}
