{% extends 'main_base.html' %}

{% block title %}
    Context Collection
{% endblock %}

{% block body_content %}
    <div class="row justify-content-center">
        <div class="col-10">
            <h1>Context Collections</h1>
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
            {% for context_collection in context_collection_list %}
                <a class="list-group-item list-group-item-action
                    {% if context_collection == context_collection_list.0 %}active{% endif %}"
                   id="list-{{ context_collection.key }}-list" data-toggle="list"
                   href="#list-{{ context_collection.key }}"
                   role="tab" aria-controls="home">{{ context_collection.name }}</a>
            {% endfor %}
        </div>
      </div>
      <div class="col-7">
        <div class="tab-content" id="nav-tabContent">
            {% for context_collection in context_collection_list %}
                <div class="tab-pane fade
                    {% if context_collection == context_collection_list.0 %}show active{% endif %}"
                     id="list-{{ context_collection.key }}" role="tabpanel"
                     aria-labelledby="list-{{ context_collection.key }}-list">
                    {% include "geocontext/includes/context_collection_content.html" %}
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
    {% include "includes/pagination.html" %}
{% endblock body_content %}
