{% extends 'main_base.html' %}

{% block title %}
    Context Service Registry
{% endblock %}

{% block body_content %}
    <h1>Context Layer Registries</h1>
    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            {% for csr in csr_list %}
                <a class="list-group-item list-group-item-action
                    {% if csr == csr_list.0 %}active{% endif %}"
                   id="list-{{ csr.key }}-list" data-toggle="list"
                   href="#list-{{ csr.key }}"
                   role="tab" aria-controls="home">{{ csr.name }}</a>

            {% endfor %}
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            {% for csr in csr_list %}
                <div class="tab-pane fade
                    {% if csr == csr_list.0 %}show active{% endif %}"
                     id="list-{{ csr.key }}" role="tabpanel"
                     aria-labelledby="list-{{ csr.key }}-list">
                    <h3>{{ csr.name }}</h3>
                    <table class="table table-borderless table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Key</th>
                                <td>{{ csr.key }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Description</th>
                                {# Create cusstom tag for this #}
                                {% if csr.description %}
                                    <td>{{ csr.description }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row">URL</th>
                                <td><a href="{{ csr.url }}">{{ csr.url }}</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Query Type</th>
                                <td>{{ csr.query_type }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Layer typename</th>
                                <td>{{ csr.layer_typename }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Service version</th>
                                <td>{{ csr.service_version }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Provenance</th>
                                {% if csr.provenance %}
                                    <td>{{ csr.provenance }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row">Notes</th>
                                {% if csr.notes %}
                                    <td>{{ csr.notes }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row">Licensing</th>
                                {% if csr.licensing %}
                                    <td>{{ csr.licensing }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
    {% include "includes/pagination.html" %}
{% endblock body_content %}
