{% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" tabindex="-1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
            {% endif %}
            <li class="page-item disabled">
                <a class="page-link" href="?page={{ page_obj.number }}">
                    Page {{ page_obj.number }} of
                    {{ page_obj.paginator.num_pages }}
                </a>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                       tabindex="-1">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
                       tabindex="-1">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}