psycopg2-binary==2.8.4
Django==3.0.*
django-braces==1.14.0
django-model-utils==4.0.0
django-pipeline==1.7.0
django-role-permissions==2.2.1
markdown==3.2.1

raven==6.10.0
django-sentry==1.13.5
requests==2.23.0
pytz==2019.3

django-allauth==0.41.0

django-easy-audit==1.2.1
django-grappelli==2.14.1

djangorestframework==3.11.0
djangorestframework-gis==0.15
django-filter==1.1.0
coreapi==2.3.3

django-cors-headers==3.2.1
OWSLib==0.19.2
