{% extends 'main_base.html' %}

{% block title %}
    Home
{% endblock %}

{% block body_content %}

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner rounded" style="height:100%;">
                  <h2 class="display-4 my-carousel-header">Welcome to GeoContext</h2>
                <img class="d-block w-100" src="../static/img/landscapemountains.png"
                     alt="First slide">
              <!-- Photo by Bogdan Petrea on Unsplash !-->
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="lead">GeoContext is a service that will fetch interesting data for a geographic
                            position.
                            It is an API that you can use to integrate this information into your own web site.
                            The API returns JSON documents which enumerate any information found for the point you
                            specify.
                        </p>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="lead">
                            GeoContext can connect to various different types of services such as WMS and WFS to
                            collate the point information. You can configure more services as needed and collate a
                            number of
                            services into a group. A number of groups can be combined into a collection.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="lead">
                            Currently, the service is free to use. In the future we may charge a subscription to
                            use it.
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <hr class="my-4">


{% endblock %}
