{% extends 'main_base.html' %}

{% block title %}
GeoContext Map View
{% endblock %}

{% block body_content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="../static/css/flexboxgrid-6.3.1/flexboxgrid.min.css"
          rel="stylesheet" type="text/css">
    <link href="../static/v6.1.1-dist/ol.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/ol-geocoder@latest/dist/ol-geocoder.min.css" rel="stylesheet">
    <link href="../static/css/main.css"
          rel="stylesheet" type="text/css">
    <link href="../static/css/custom-select.css"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

    <!-- development version, includes helpful console warnings -->
    <script type="module">
        let mapTileKey = 'Bik82wXesk2w368QAo9R'; // Add key in secret.js
    </script>

    <div class="row">
        <div class="col-lg-9 col-md-7 col-sm-12 col-xs-12 no-padding">
            <div id="map" class="map"></div>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12 sidepanel">
            <div class="sidepanel-title">
                <img src="../static/img/geocontext-viewer-logo.png" width="100%" alt="">
            </div>
            <div class="sidepanel-subtitle">
                Select service.
            </div>
            <div class="lat-lon-wrapper">
                <div class="row">
                    <div class="col-xs-6 no-padding thin-right-border">
                        <div class="label"><label for="lon">Longitude</label></div>
                        <input type="number" id="lon" placeholder="Lon" class="lon"/>
                    </div>
                    <div class="col-xs-6 no-padding thin-left-border">
                        <div class="label"><label for="lat">Latitude</label></div>
                        <input type="number" id="lat" placeholder="Lat" class="lat"/>
                    </div>
                </div>
            </div>

            <div class="custom-select-wrapper">
                <div class="custom-select">
                    <div class="custom-select__trigger"><span>Geomorphological Zones</span>
                        <div class="arrow"></div>
                    </div>
                    <div class="custom-options" id="geocontext-group-select">
                        <span class="custom-option selected"
                              data-value="geomorphological_group">Geomorphological Zones</span>
                        <span class="custom-option"
                              data-value="monthly_mean_daily_average_temperature_group">Monthly Mean Daily Average Temperature</span>
                        <span class="custom-option"
                              data-value="rainfall_group">Rainfall</span>
                        <span class="custom-option" data-value="elevation_group">Digital Elevation</span>
                    </div>
                </div>
            </div>

            <div class="fetch-button-wrapper">
                <button class="fetch-button" id="fetch-button">Fetch!</button>
            </div>

            <div class="geocontext-container">
                <div class="response-time">Response time : 200 ms</div>
                <div class="tab-wrapper row">
                    <div class="col-xs-4 tab-option active" data-for="tab1">Table</div>
                    <div class="col-xs-4 tab-option" data-for="tab2">Raw</div>
                    <div class="col-xs-4 tab-option" data-for="tab3">Chart</div>
                </div>
                <div class="tab-content-wrapper">
                    <div class="tab-content active" id="tab1">
                        <div id="geocontext-table"></div>
                    </div>
                    <div class="tab-content" id="tab2">
                        <div class="geocontext-data-container">
                            <pre id="geocontext-data" class="geocontext-data"></pre>
                        </div>
                    </div>
                    <div class="tab-content" id="tab3" data-chart="true"></div>
                </div>
            </div>

            <div class="loading-container">
                <img src="../static/img/loading.svg" alt=""/>
            </div>
        </div>

<!-- OpenLayer v6.1.1 -->
<script src="../static/v6.1.1-dist/ol.js"></script>
<script src="../static/js/secret.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ol-geocoder"></script>
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/custom-select.js"></script>
{% endblock %}